// Fleasion-v2.2.1 resource file
// Embeds the application icon

#include <windows.h>

#define IDI_ICON1 101

// Icon with lowest ID value placed first to ensure
// it is the application icon (required).
IDI_ICON1 ICON "fleasion.ico"
